body{
background:#020617;
color:white;
font-family:Segoe UI;
margin:0;
}

.title{
text-align:center;
padding:20px;
font-size:40px;
}

.input-card{
width:360px;
margin:auto;
margin-top:100px;
background:#1e293b;
padding:30px;
border-radius:15px;
text-align:center;
}

input,select{
width:90%;
padding:12px;
margin:10px;
border-radius:10px;
border:none;
}

button{
padding:12px 20px;
border:none;
border-radius:10px;
background:#22c55e;
font-size:16px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
padding:25px;
}

.card{
padding:25px;
border-radius:18px;
box-shadow:0 0 15px black;
}

.blue{background:#2563eb;}
.green{background:#16a34a;}
.yellow{background:#ca8a04;}
.purple{background:#7c3aed;}
.red{background:#dc2626;}
.chat{background:#0ea5e9;}

ul{
text-align:left;
}
