<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="input-card">

<h1>Smart Health Advisor</h1>

<form action="/dashboard" method="post">

<input type="number" name="age" placeholder="Age" required>
<input type="number" name="height" placeholder="Height (cm)" required>
<input type="number" name="weight" placeholder="Weight (kg)" required>

<select name="gender">
<option>Male</option>
<option>Female</option>
</select>

<select name="activity">
<option>Sedentary</option>
<option>Light</option>
<option>Moderate</option>
<option>Active</option>
</select>

<button>Generate Health Plan</button>

</form>
</div>

</body>
</html>
